<section id="educacion" class="resume section-bg">
  <div class="container">
    <div class="section-title">
      <div class="d-flex justify-content-between bd-highlight mb-3">
        <h2>Educación</h2>
        <div class="p-2 bd-highlight">
          <button (click)="openModalEducacion()" *ngIf="isAuth" class="btn btn-success">Agregar nueva educación</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up">
        <div *ngFor="let educacion of educaciones" class="resume-item pb-0">
          <div class="row">
            <div class="col-md-2 ">
              <img src={{educacion.logo}} class="img-thumbnail" alt="logo"  >
            </div>
            <div class="col-md-8">
              <h4>{{educacion.nombre}}</h4>
              <ul><li><strong>Puesto:</strong> {{educacion.instituto}}</li></ul>
            </div>
            <div class="col-md-2 text-right">
              <button class="btn btn-info" *ngIf="isAuth" (click)="openModalEducacionEdit(educacion)">Editar</button> 
              <button class="btn btn-danger ms-1" *ngIf="isAuth" (click)="deleteEducacion(educacion.id!)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--form modal-->
<div class="modal fade" id="modal_educacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <input type="hidden" class="form-control" formControlName="id" name="id" id="id">
          <div class="form-group">
            <label for="nombre">Logo <label style="color:red">(*)</label></label>
            <input type="text" class="form-control" formControlName="logo" value="" required>
          </div>
          <div class="form-group">
            <label for="educacion">Instituto</label>
            <input type="text" class="form-control" formControlName="instituto" value="" required>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre de la Carrera</label>
            <input type="text" class="form-control" formControlName="nombre" value="" required>
          </div>

          <div class="form-group">
            <label for="periodo">Año</label>
            <input type="text" class="form-control" formControlName="periodo" value="" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button *ngIf="!isUpdating" type="button" class="btn btn-primary" (click)="addEducacion()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Guardar
        </button>
        <button *ngIf="isUpdating" type="button" class="btn btn-primary" (click)="updateEducacion()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>