<div class="profile">
    <img src="../../../assets/PERFIL.jpg" alt="" class="img-fluid rounded-circle">
    <h1 class="text-light"><a href="index.html">Mart&iacute;n Antolini</a></h1>
    <div class="social-links mt-3 text-center">
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://github.com/tiburon-blanco" target="_blank" class="github"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/martin-leonardo-antolini-7673a3127/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5492215930451" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
    </div>
</div>
