<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore mollitia aliquid vitae molestiae,
                itaque dolorem reiciendis iste eveniet quos, rerum dolore laudantium libero facere soluta ipsum! Nemo
                exercitationem quia maiores.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore mollitia aliquid vitae molestiae,
                itaque dolorem reiciendis iste eveniet quos, rerum dolore laudantium libero facere soluta ipsum! Nemo
                exercitationem quia maiores.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore mollitia aliquid vitae molestiae,
                itaque dolorem reiciendis iste eveniet quos, rerum dolore laudantium libero facere soluta ipsum! Nemo
                exercitationem quia maiores.</p>
        </ul>

    </div>

</div>