<section id="proyecto" class="resume">
    <div class="container">
      <div class="section-title">
        <div class="d-flex justify-content-between bd-highlight mb-3">
          <h2>Proyectos</h2>
          <div class="p-2 bd-highlight">
            <button (click)="openModalProyecto()" *ngIf="isAuth" class="btn btn-success">Agregar nuevo proyecto</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" data-aos="fade-up">
          <div *ngFor="let proyecto of proyectos" class="resume-item pb-0">
            <div class="row">
              <div class="col-md-10">
                <h4>{{proyecto.nombre}}</h4>
                <h5>{{proyecto.fecha | date:'shortDate'}}</h5>
                <ul><li><strong>Link:</strong> {{proyecto.link}}</li></ul>
                <p><em>{{proyecto.descripcion}}</em></p>
              </div>
              <div class="col-md-2 text-right">
                <button class="btn btn-info" *ngIf="isAuth" (click)="openModalProyectoEdit(proyecto)">Editar</button> 
                <button class="btn btn-danger ms-1" *ngIf="isAuth" (click)="deleteProyecto(proyecto.id!)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--form modal-->
<div class="modal fade" id="modal_proyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formulario">
                    <input type="hidden" class="form-control" formControlName="id" name="id" id="id">
                    <div class="form-group">
                        <label for="nombre">Nombre <label style="color:red">(*)</label></label>
                        <input type="text" class="form-control" formControlName="nombre" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" formControlName="descripcion" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="date" class="form-control" formControlName="fecha" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="link">link</label>
                        <input type="text" class="form-control" formControlName="link" value="" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button *ngIf="!isUpdating" type="button" class="btn btn-primary" (click)="addProyecto()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Guardar
                </button>
                <button *ngIf="isUpdating" type="button" class="btn btn-primary" (click)="updateProyecto()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Actualizar
                </button>
            </div>
        </div>
    </div>
</div>