<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul *ngFor="let proyecto of proyectos">
            <li>
                <h3>{{proyecto.nombre}} </h3>
                <h5>{{proyecto.descripcion}}</h5>
                <h6>({{proyecto.fecha}})</h6>
                <h6>({{proyecto.link}})</h6>
                <button (click)="openModalProyectoEdit(proyecto)">Editar</button>
                <button (click)="deleteProyecto(proyecto.id!)">Eliminar</button>
            </li>
            <p>{{proyecto.descripcion}}</p>
        </ul>

        <button (click)="openModalProyecto()">Agregar</button>
    </div>

</div>



<!--form modal-->
<div class="modal fade" id="modal_proyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formulario">
                    <input type="hidden" class="form-control" formControlName="id" name="id" id="id">
                    <div class="form-group">
                        <label for="nombre">Nombre <label style="color:red">(*)</label></label>
                        <input type="text" class="form-control" formControlName="nombre" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" formControlName="descripcion" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="text" class="form-control" formControlName="fecha" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="link">link</label>
                        <input type="text" class="form-control" formControlName="link" value="" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button *ngIf="!isUpdating" type="button" class="btn btn-primary"
                    (click)="addProyecto()">Guardar</button>
                <button *ngIf="isUpdating" type="button" class="btn btn-primary"
                    (click)="updateProyecto()">Actualizar</button>
            </div>
        </div>
    </div>
</div>