<div class="row">

    <div class="col-md-3 rounded-3 bg-light avatar">
        <img src="../../../assets/PERFIL.jpg" class="rounded-circle" style="width: 150px;" alt="Avatar" />
        <p>Martin Antolini</p>
        <p>DNI</p>
    </div>

    <div class="col-md-9  rounded-3 bg-light">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius nesciunt sed magni omnis facilis! Rerum
            dolor eum excepturi amet dicta officiis ex, voluptate commodi, quibusdam, quos culpa nobis
            necessitatibus nemo.</p>
    </div>
</div>