<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PERFIL.jpg" class="img-fluid" alt="" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">myPorfolio.names</p>
        <p>myPorfolio.titulo</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius nesciunt sed magni omnis facilis! Rerum
                dolor eum excepturi amet dicta officiis ex, voluptate commodi, quibusdam, quos culpa nobis
                necessitatibus nemo.</p>
        </span>

    </div>

</div>