<header class="">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../../../assets/ap.png" alt="logo de argentina programa" id="logoAp">
        <span class="fs-4">Martin Antolini</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><i class="bi bi-instagram fs-2"></i></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><i class="bi bi-facebook fs-2"></i></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><i class="bi bi-github fs-2"></i></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><i class="bi bi-linkedin fs-2"></i></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><i class="bi bi-whatsapp fs-2"></i></a>
       
      </nav>
      <button type="button" class="btn btn-dark" (click)="login()">Login</button>
    </div>
</header>

